### 11번. 1부터 100까지 숫자 중 5의 배수만 리스트에 저장하여 출력하세요.

리스트 내포(List Comprehension)를 사용해도 좋습니다.

📌 출력 예시:
```
[5, 10, 15, ..., 100]
```

In [5]:
list = [num*5 for num in range(1,21)]
list

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [55]:
result = []
num = 0

while True:
    num += 5
    result.append(num)

    if num == 50:
        break
print(result)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

### 12번. 짝수만 필터링하여 새로운 리스트 만들기

다음 리스트에서 짝수만 골라 새로운 리스트로 만드세요:
```python
nums = [1,2,3,4,5,6,7,8,9,10]
```
📌 출력 예시:
```
[2, 4, 6, 8, 10]
```

In [ ]:
nums = [1,2,3,4,5,6,7,8,9,10]
result = []

for num in nums:
    if num % 2 == 0:
        result.append(num)
       
print(result)

[2, 4, 6, 8, 10]

In [57]:
[num for num in nums if num % 2 == 0]

[2, 4, 6, 8, 10]

### 13번. 딕셔너리에서 가장 비싼 과일 찾기

다음 딕셔너리에서 가격이 가장 높은 과일과 그 가격을 출력하세요:
```python
fruits = {'apple': 1000, 'banana': 500, 'orange': 800}
```

In [1]:
fruits = {'apple': 1000, 'banana': 500, 'orange': 800, 'lemon': 1000}

# print(value값이 1000원인 과일, max(fruits.values()))

In [61]:
max_price = float('-inf')
max_price = 0
max_price_fruit = []

for fruit, price in fruits.items():
    # 이 조건문을 통과하는 순간 : 최고가가 경신되었을 때
    if max_price < price:
        max_price = price
        max_price_fruit = [fruit]
    # 최고가가 한번 더 나왔을 때 : 이미 max_price_fruit이라는 곳에 과일이 들어있음.
    elif max_price == price:
        max_price_fruit.append(fruit)
print(max_price, max_price_fruit)

1000 ['apple', 'lemon']

### 14번. 구구단 3단 출력하기

for문을 사용하여 구구단 3단을 출력하세요.

📌 출력 예시:
```
3 x 1 = 3
3 x 2 = 6
...
3 x 9 = 27
```

In [21]:
for num in range(1,10):
    print(f'3 x {num} = {3*num}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

### 15번. 문자열에서 각 문자 개수 세기

사용자로부터 문자열을 입력받아, 각 문자가 몇 번 나오는지 딕셔너리 형태로 출력하세요.

📌 예시 입력: `hello`
📌 예시 출력: `{'h':1, 'e':1, 'l':2, 'o':1}`

In [ ]:
text = input("문자열을 입력하세요: ")
my_dict ={}

for el in list(text):
    my_dict.update({f'{el}': text.count(el)})

print(my_dict)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

### 16번. 리스트 정렬과 최대/최소 값 찾기

다음 리스트를 오름차순으로 정렬하고, 가장 큰 값과 가장 작은 값을 출력하세요:
```python
nums = [3, 1, 4, 1, 5, 9, 2, 6]
```

In [29]:
nums = [3, 1, 4, 1, 5, 9, 2, 6]

nums.sort()

print(nums[-1], nums[0])

9 1

### 17번. 회문(Palindrome) 검사

입력받은 단어가 앞에서 읽든 뒤에서 읽든 같은 단어인지 확인하는 프로그램을 작성하세요.

📌 예시: `level` → 회문 / `hello` → 회문 아님

In [5]:
word = input("단어를 입력하세요: ")

n = 0

while n < (len(word) // 2):
    if word[n] == word[-(n+1)]:
        print('회문')
        continue
    else:
        print('회문X')
        break
    n += 1

회문X

### 18번. 집합 연산: 합집합, 교집합, 차집합

다음 두 집합의 합집합, 교집합, 차집합을 구하세요:
```python
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
```

In [90]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print('합집합:', A | B)
print('교집합:', A & B)
print('차집합:', A - B)

합집합: {1, 2, 3, 4, 5, 6, 7, 8}
교집합: {4, 5}
차집합: {1, 2, 3}

### 19번. 1부터 n까지의 합 구하기

사용자로부터 정수 n을 입력받아 1부터 n까지의 합을 구하는 프로그램을 작성하세요.

In [35]:
n = int(input("정수를 입력하세요: "))
total = 0

for num in range(1, n+1):
    total += num

print(total)

1275

### 20번. 리스트에서 중복 제거

다음 리스트에서 중복된 값을 제거하고 유일한 값만 남긴 리스트를 출력하세요:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [64]:
nums = [1, 2, 2, 3, 4, 4, 5]

result = []

for num in set(nums):
    result.append(num)

result

[1, 2, 3, 4, 5]