### 11번. 1부터 100까지 숫자 중 5의 배수만 리스트에 저장하여 출력하세요.

리스트 내포(List Comprehension)를 사용해도 좋습니다.

📌 출력 예시:
```
[5, 10, 15, ..., 100]
```

In [5]:
list = [num*5 for num in range(1,21)]
list

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [55]:
result = []
num = 0

while True:
    num += 5
    result.append(num)

    if num == 50:
        break
print(result)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

### 12번. 짝수만 필터링하여 새로운 리스트 만들기

다음 리스트에서 짝수만 골라 새로운 리스트로 만드세요:
```python
nums = [1,2,3,4,5,6,7,8,9,10]
```
📌 출력 예시:
```
[2, 4, 6, 8, 10]
```

In [ ]:
nums = [1,2,3,4,5,6,7,8,9,10]
result = []

for num in nums:
    if num % 2 == 0:
        result.append(num)
       
print(result)

[2, 4, 6, 8, 10]

In [57]:
[num for num in nums if num % 2 == 0]

[2, 4, 6, 8, 10]

### 13번. 딕셔너리에서 가장 비싼 과일 찾기

다음 딕셔너리에서 가격이 가장 높은 과일과 그 가격을 출력하세요:
```python
fruits = {'apple': 1000, 'banana': 500, 'orange': 800}
```

In [1]:
fruits = {'apple': 1000, 'banana': 500, 'orange': 800, 'lemon': 1000}

# print(value값이 1000원인 과일, max(fruits.values()))

In [61]:
max_price = float('-inf')
max_price = 0
max_price_fruit = []

for fruit, price in fruits.items():
    # 이 조건문을 통과하는 순간 : 최고가가 경신되었을 때
    if max_price < price:
        max_price = price
        max_price_fruit = [fruit]
    # 최고가가 한번 더 나왔을 때 : 이미 max_price_fruit이라는 곳에 과일이 들어있음.
    elif max_price == price:
        max_price_fruit.append(fruit)
print(max_price, max_price_fruit)

1000 ['apple', 'lemon']

### 14번. 구구단 3단 출력하기

for문을 사용하여 구구단 3단을 출력하세요.

📌 출력 예시:
```
3 x 1 = 3
3 x 2 = 6
...
3 x 9 = 27
```

In [21]:
for num in range(1,10):
    print(f'3 x {num} = {3*num}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [ ]:
for dan in range(2, 10):
    print(f'--------------------{dan}단----------------------')
    for num in range(1,10):
        print(f'{dan} x {num} = {dan*num}')

--------------------2단-------------------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--------------------3단-------------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--------------------4단-------------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--------------------5단-------------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--------------------6단-------------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--------------------7단-------------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--------------------8단-------------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--------------------9단-------------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### 15번. 문자열에서 각 문자 개수 세기

사용자로부터 문자열을 입력받아, 각 문자가 몇 번 나오는지 딕셔너리 형태로 출력하세요.

📌 예시 입력: `hello`
📌 예시 출력: `{'h':1, 'e':1, 'l':2, 'o':1}`

In [9]:
text = input("문자열을 입력하세요: ")
my_dict ={}

for el in list(text):
    my_dict.update({f'{el}': text.count(el)})

print(my_dict)

type(my_dict)

{'q': 1, 'w': 1, 'e': 1, 'r': 1}

dict

In [7]:
text = 'hello'

counter = {}
for char in text:
    # dict는 in 연산시, key만 확인한다.
    if char in counter:
        counter[char] += 1 # 기존에 있는 키의 value만 수정
    else:
        counter[char] = 1 # 없는 키와 value 등록

print(counter)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [8]:
counter = {}
text = 'hello'

for char in text:
    counter[char] = counter.get(char, 0) + 1

print(counter)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

### 16번. 리스트 정렬과 최대/최소 값 찾기

다음 리스트를 오름차순으로 정렬하고, 가장 큰 값과 가장 작은 값을 출력하세요:
```python
nums = [3, 1, 4, 1, 5, 9, 2, 6]
```

In [ ]:
nums = [3, 1, 4, 1, 5, 9, 2, 6]

sorted(nums), nums # nums 원본은 그대로임

([1, 1, 2, 3, 4, 5, 6, 9], [3, 1, 4, 1, 5, 9, 2, 6])

In [11]:
nums = [3, 1, 4, 1, 5, 9, 2, 6]

nums.sort() # 원본이 변경됨

print(nums[-1], nums[0])

9 1

### 17번. 회문(Palindrome) 검사

입력받은 단어가 앞에서 읽든 뒤에서 읽든 같은 단어인지 확인하는 프로그램을 작성하세요.

📌 예시: `level` → 회문 / `hello` → 회문 아님

In [5]:
word = input("단어를 입력하세요: ")

n = 0

while n < (len(word) // 2):
    if word[n] == word[-(n+1)]:
        print('회문')
        continue
    else:
        print('회문X')
        break
    n += 1

회문X

In [ ]:
word = '수박이 박수\n'
# 뛰어쓰기 처리
word = word.replace(' ', '')
word = word.strip()

if word == word[::-1]:
    print('회문')
else:
    print('회문아님')

### 18번. 집합 연산: 합집합, 교집합, 차집합

다음 두 집합의 합집합, 교집합, 차집합을 구하세요:
```python
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
```

In [90]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print('합집합:', A | B)
print('교집합:', A & B)
print('차집합:', A - B)

합집합: {1, 2, 3, 4, 5, 6, 7, 8}
교집합: {4, 5}
차집합: {1, 2, 3}

### 19번. 1부터 n까지의 합 구하기

사용자로부터 정수 n을 입력받아 1부터 n까지의 합을 구하는 프로그램을 작성하세요.

In [35]:
n = int(input("정수를 입력하세요: "))
total = 0

for num in range(1, n+1):
    total += num

print(total)

1275

### 20번. 리스트에서 중복 제거

다음 리스트에서 중복된 값을 제거하고 유일한 값만 남긴 리스트를 출력하세요:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [14]:
nums = [1, 2, 2, 3, 4, 4, 5]

result = list(set(nums))

print(result)

[1, 2, 3, 4, 5]

In [15]:
nums = [1, 2, 2, 3, 4, 4, 5]

uniq = []

for num in nums:
    if num not in uniq:
        uniq.append(num)

print(uniq)

[1, 2, 3, 4, 5]